<div th:fragment="style">
	<style type="text/css">
	</style>
	
</div>


<div th:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {

		});
		/*]]>*/
	</script>
    
</div>

<div class="container" th:fragment="content">
	<h1 class="page-header">Dashboard</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<img data-src="holder.js/200x200/auto/sky" class="img-responsive"
				alt="Generic placeholder thumbnail" />
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img data-src="holder.js/200x200/auto/vine" class="img-responsive"
				alt="Generic placeholder thumbnail" />
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img data-src="holder.js/200x200/auto/sky" class="img-responsive"
				alt="Generic placeholder thumbnail" />
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img data-src="holder.js/200x200/auto/vine" class="img-responsive"
				alt="Generic placeholder thumbnail" />
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
	</div>

	<h2 class="sub-header">Section title</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<td>Identifier</td>
					<td>Name</td>
					<td>BirthDate</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="x : ${patients}">
					<td th:text="${x.identifier[0].system.value}"></td>
					<td th:text="${x.name[0].family[0].value}"></td>
					<td th:text="${x.birthDate.value.year}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
